<table id="main-calendar-table">
	<thead>
		<tr>
			<th>Klo / pvm</th>
			<th>Ma <%= date_strs.first %></th>
			<th>Ti <%= date_strs[1] %> </th>
			<th>Ke <%= date_strs[2] %></th>
			<th>To <%= date_strs[3] %></th>
			<th>Pe <%= date_strs[4] %></th>
			<th>La <%= date_strs[5] %></th>
			<th>Su <%= date_strs[6] %></th>
		</tr>
	</thead>
	<tbody>
		<% (9..21).each do |i| %>
			<tr>
				<th><%= i %>:00</th>
				<% date_strs.each do |date| %>
					<td class="reservable" date-data="<%= date %>" select="false" time="<%= i %>:00">kvak</td>	
				<% end %>
			</tr>
			<tr>
				<th><%= i %>:30</th>
				<% date_strs.each do |date| %>
					<td class="reservable" date-data="<%= date %>" select="false" time="<%= i %>:30">kvak</td>	
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>