<h2>Muokkaa k&auml;ytt&auml;j&auml;&auml;</h2>

<table class="table" id="data-table">
	<thead>
		<tr>
			<th>Email</th>
			<th>Rooli</th>
			<th>Etunimi</th>
			<th>Sukunimi</th>
			<th>Joukkue</th>
		</tr>
	</thead>
	<tbody>
		<tr id="data-row">
			<td><input type="text" placeholder="email" class="input-medium" /></td>
			<td>
				<select id="role-selector">
					<option value="admin">Admin</option>
					<option value="head_coach">Valmennusp&auml;&auml;llikk&ouml;</option>
					<option value="team_leader">Joukkueenjohtaja</option>
					<option value="coach">Valmentaja</option>
				</select>
			</td>
			<td><input type="text" class="input-small" placeholder="etunimi" /></td>
			<td><input type="text" class="input-small" placeholder="sukunimi" /></td>
			<td>
				<select id="team-selector">
					<option value="0">-</option>
					<%= Team.all.each do |team| %>
						<option value="<%= team.id %>"><%= team.name %></option>
					<% end %>
				</select>
			</td>
		</tr>
	</tbody>
</table>

<a class="btn btn-large pull-right" onclick="save()">Tallenna</a>
<a class="btn btn-large pull-right btn-margin-right" onclick="reset()">Resetoi</a>
<a href="/kayttajien_hallinta" class="btn btn-large pull-right btn-margin-right">Peruuta</a>
<div style="clear:both"></div>

<script>
	var values = ["<%= @user.email %>", "<%= @user.f_name %>", "<%= @user.l_name %>"];
	
	$(document).ready(function () {
		reset();
		
		$("#role-selector").change(function () {
			if ($(this).val() != "team_leader") {
				$("#team-selector").attr("disabled", "true");
				$("#team-selector").val("0");
			} else {
				$("#team-selector").removeAttr("disabled");
			}
		});
	});
	
	function reset () {
		var i = 0;
		
		$("#data-row").find("input").each(function() {
			$(this).val(values[i]);
			i++;
		});
		
		<% if @user.team_id == 0 %>
			$("#team-selector").attr("disabled", "true");
		<% end %>
		$("#team-selector").val("<%= @user.team_id %>");
		$("#role-selector").val("<%= @user.role %>");
	}
	
	function save () {
		if (data_valid_to_save()) {
			var values = [];
		
			$("#data-row").find("input").each(function() {
				values.push($(this).val());
			});
			
			var role = $("#role-selector").val();
			var team_id = $("#team-selector").val();
			
			var user = {id: "<%= @user.id %>", email: values[0], role: role, f_name: values[1], l_name: values[2], team_id: team_id};
			
			$.post("/update_user", JSON.stringify(user), function (response) {
				if (response == "success") {
					window.location = "/kayttajien_hallinta"
				} else {
					show_feedback("Jotain meni pieleen.", "error", false, "data-table")
				}
			});
		}
	}
	
	function data_valid_to_save () {
		var role = $("#role-selector").val();
		var team = $("#team-selector").val();
		
		if (role == "team_leader" && team == "0") {
			alert("Joukkueenjohtajalla täytyy olla joukkue valittuna.");
			return false;
		}
		
		return true;
	}
	
	set_private_nav("users");
</script>
