<!DOCTYPE html>
<html>
<head>
  <title>Pelicans2k</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url('/assets/ice.jpg'); padding-top: 150px;">
	<div id="page">
		<% unless flash[:alert].nil? %>
			<div class="alert alert-error">
				<h3><%= flash[:alert] %></h3>
			</div>
			<br />
		<% end %>
		
		<% unless flash[:notice].nil? %>
			<div class="alert alert-success">
				<h3><%= flash[:notice] %></h3>
			</div>
			<br />
		<% end %>
		
		<h2>Kirjaudu sisään</h2>
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div>S-posti<br />
		  <%= f.email_field :email %></div>
		
		  <div>Salasana<br />
		  <%= f.password_field :password %></div>
		
		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> Muista minut</div>
		  <% end -%>
			<br />
		  <div><%= f.submit "Kirjaudu sisään", :class => "btn btn-medium" %></div>
		<% end %>
		
		<div>
			<h3>Unohtuiko salasana?</h3>
			<p>Ota yhteys ylläpitäjä Timo Lehtiseen. Yhteystiedot löytyvät <a href="/">pääsivun</a> puolelta.</p>
		</div>
	</div>
</body>
</html>
