<h2>Julkaise uusi</h2>
<div id="create-news">
	<input type="text" id="title" placeholder="Otsikko"><br>
	<textarea id="body" class="news-textarea">Sisältö</textarea>
	<h3>Liitteet</h3>
	<select class="att-selector">
		<% if Attachment.first.nil? %>
			<option value="0">Ei liitteit&auml;</option>
		<% else %>
			<option value="0">Valitse liite</option>
		<% end %>
		
		<% Attachment.all.each do |att| %>
			<option value="<%= att.id %>"><%= att.filename %></option>
		<% end %>
	</select>
	<br />
	<% unless Attachment.first.nil? %>
		<a class="btn btn-medium" id="add-attachment-btn">Lis&auml;&auml; liitevalinta</a>
		<a class="btn btn-medium" id="del-attachment-btn">Poista liitevalinta</a>
	<% end %>
	<a class="btn btn-medium" href="/hallitse_liitteita">Hallitse liitteit&auml;</a>
	<br/>
	<br/>
	<a class="btn btn-medium" onclick="save()">Julkaise</a>
</div>

<br />

<h2>Julkaistut uutiset</h2>
<table class="table" id="news-table">
	<tr>
		<th>Julkaistu</th>
		<th>Muokattu</th>
		<th id="header-th">Otsikko</th>
		<th>Sisältö</th> 
		<th id="attachments-th">Liitteet</th> 
		<th>Toiminnot</th>
	</tr>
	<% @news.each do |news| %>
	  	<tr id="news_<%= news.id %>" class="news-row">
	  		<td><%= news.published_at.strftime("%d.%m.%Y - %H:%M") %></td>
	  		<td>
	  			<% unless news.edited_at.nil? %>
	  				<%= news.edited_at.strftime("%d.%m.%Y - %H:%M") %>
	  			<% else %>
	  				-
	  			<% end %>
	  		</td>
	  		<td><%= news.title %></td>
	  		<!-- <td><%= truncate(news.body, :length => 45) %></td>-->
	  		<td>
	  			<%= news.body %> 
	  		</td>
	  		<td>
	  			<% news.attachments.each do |att| %>
		  			<%= att.filename %> <br /> 
	  			<% end %>
	  		</td>
	  		<td>
	  			<a class="btn btn-medium edit-news-btn" href="/muokkaa_uutista/<%= news.id %>">Muokkaa</a>
	  			<a class="btn btn-medium delete-news-btn" onclick="delete_news('<%= news.id %>')">Poista</a>
	  		</td>
	  	</tr>
	<% end %>
</table>
  

<script>
	$(document).ready(function () {
		$("#body").focus(function () {
			if ($(this).val() == "Sisältö") {
				$(this).val("");
			}
		});
		
		$("#body").blur(function () {
			if ($(this).val() == "") {
				$(this).val("Sisältö");
			}
		});
		
		<% if session[:news_update_success] %>
			show_feedback("Uutinen tallenettu onnistuneesti", "success", true, "create-news");
			<% session[:news_update_success] = nil %>
		<% end %>
	});
	
	
	function save () {
		var title = $("#title").val();
		var body = $("#body").val();
		var attachment_ids = [];
		
		$(".att-selector").each(function() {
			attachment_ids.push($(this).val());
		});
		
		var po_news = {title: title, body: body, attachment_ids: attachment_ids};
		
		$.post("/create_news", JSON.stringify(po_news), function (response) {
			if (response == "Error") {
				show_feedback("Jotain meni pieleen", "error", true, "create-news");
			} else {
				show_feedback("Uutinen julkaistu.", "success", true, "create-news");
				
				$("#title").val("");
				$("#body").val("");
				
				var published_at = convert_date(response.published_at);
				var edited_at = "-";
				
				if (!(response.edited_at == null)) {
					edited_at = convert_date(response.edited_at);
				}
				
				var attachments_string = "";
				
				$.each(response.attachments, function (index, value) {
					attachments_string = attachments_string + value.path.substring(6, value.lenght) + "<br />";
				});
				
				var html = "<tr id='news_" + response.id + "' class='news-row'>\
								<td>"+ published_at +"</td>\
								<td>" + edited_at + "</td>\
								<td>" + response.title + "</td>\
								<td>" + response.body + "</td>\
								<td>" + attachments_string + "</td>\
								<td>\
						  			<a class='btn btn-medium edit-news-btn' href='/muokkaa_uutista/" + response.id +"'>Muokkaa</a>\
						  			<a class='btn btn-medium delete-news-btn' onclick='delete_news(\'" + response.id + "\')'>Poista</a>\
	  							</td>\
							</tr>"
				$("#news-table").find(".news-row").first().before(html);
			}
			
		});	
	}
	
	function convert_date(datestr) {
		var year = datestr.substring(0, 4);
		var month = datestr.substring(5, 7);
		var day = datestr.substring(8, 10);
		
		var hour = datestr.substring(11, 13);
		var minute = datestr.substring(14, 16);
		
		var ret_str = day + "." + month + "." + year + " - " + hour + ":" + minute;
		return ret_str
	}
	
	function delete_news (id) {
		if (confirm("Haluatko varmasti poistaa tämän uutisen? Poistamista EI voi perua.")) {
			$.ajax({
				url: "/delete_news/" + id,
				cache: false,
				success: function () {
					$("#news_"+id).remove();
					show_feedback("Uutinen poistettu", "success", true, "create-news");
				}
			});
		}
	}
	
	$("#add-attachment-btn").click(function () {
		var node = $(".att-selector").first().clone();
		
		$(".att-selector").last().after(node);
		
		if ($(".att-selector").lenght == 1) {
			$(".att-selector").first().after("<br />");
		} else {
			$(".att-selector").last().before("<br />");
		}
	});
	
	$("#del-attachment-btn").click(function () {
		if ($(".att-selector").length == 1) {
			return;
		} 
		$(".att-selector").last().next().remove();
		$(".att-selector").last().remove();
	});
	
	set_private_nav("news");
</script>