<div>
	<h2>Tiimikalenteri</h2>
	
	<br />
	<div>
		<h3>Asetukset</h3>
		
		<table class="table">
			<tbody>
				<% if current_user.role == "admin" %>
					<tr>
						<th>Valitse joukkue</th>
						<td>
							<select id="show-team-select">
								<option value="0"></option>
								<% Team.all.each do |team| %>
									<option value="<%= team.id %>"><%= team.name %></option>
								<% end %>
							</select>
						</td>
					</tr>
				<% end %>
				<tr>
					<th>Aktiviteetti</th>
					<td><input type="text" id="activity" placeholder="aktiviteetti"></td>
				</tr>
			</tbody>
		</table>
		
		<a class="btn btn-large pull-right" onclick="save()">Tallenna</a>
		<a class="btn btn-large pull-right action-btn" id="del-resses-btn" onclick="del_mode()">Poista varauksia</a>
	</div>
	
	<br />
	<br />
	<br />
	
	<div>
		<a class="btn btn-medium pull-left" onclick="prev();"><i class="icon-arrow-left"></i> Edellinen viikko</a>
		<a class="btn btn-medium center-button" onclick="curr();">Nykyinen</a>
		<a class="btn btn-medium pull-right" onclick="next();">Seuraava viikko <i class="icon-arrow-right"></i></a>
	</div>
	
	<br />
	<br />
	
	
	<div id="feedback-error" class="alert alert-error hidden">
		Joukkueella on jo kalenterimerkintä valittuina tunteina. Tarkista joukkueen kalenteri.
	</div>
	
	<div id="feedback-success" class="alert alert-success hidden">
		Varaukset tallennettu onnistuneesti.
	</div>
	
	<br />
	<br />
	
	<div id="main-cal-wrapper">
		<%= render :partial => "cal_table", :locals => {:th_date_strs => @th_date_strs, :date_strs => @date_strs, :days => @days}%>
	</div>
</div>

<script>
	$(document).ready(function () {
		$(".reservable").click(function () {
			$(this).attr("class", "reservable");
			
			if ($(this).attr("has-res") == "false") {
				if ($(this).attr("select") == "true") {
					$(this).attr("select", "false");
					$(this).html("");
				} else {
					if ($("#show-team-select").val() == "0") {
						show_feedback("Valitse joukkue.", "error", false, "main-cal-wrapper");
						return;
					}
					
					if ($("#activity").val() == "") {
						show_feedback("Aktiviteetti ei voi olla tyhjä.", "error", false, "main-cal-wrapper");
						return;
					}
					
					$(this).addClass("reserved");
					$(this).html($("#activity").val());
					$(this).addClass("new-res");
					$(this).attr("select", "true");
				}
			} else {
				
			}
		});
		
		<% unless @team %>
			$("#show-team-select").change(function () {
				clear_table();
				
				var id = $(this).val();
				if (id == "0") { return; }
				
				get_table_markings(id);
			});
		<% else %>
			get_table_markings(<%= @team.id %>);
		<% end %>
	});
	
	var del_mode_is_on = false;
	
	$(document).ready(function () {
		reserve_mode();
	});
	
	function reserve_mode() {
		$(".reservable").unbind("click");
		
		$(".reservable").click(function () {
			if ($(this).attr("select") == "true" && $(this).attr("has-res") == "false") {
				$(this).html("");
				$(this).attr("select", "false");
				$(this).attr("class", "reservable");
			} else {
				if ($(this).attr("has-res") == "false") {
					if ($("#show-team-select").val() == "0") {
						show_feedback("Valitse joukkue.", "error", false, "main-cal-wrapper");
						return;
					}
					
					if ($("#activity").val() == "") {
						show_feedback("Aktiviteetti ei voi olla tyhjä.", "error", false, "main-cal-wrapper");
						return;
					}
					
					$(this).attr("class", "reservable");
					$(this).html($("#activity").val());
					$(this).addClass("new-res");
					$(this).attr("select", "true");
				} else {
					if ($("#activity").val() == "") {
						show_feedback("Ei voi varata olemassaolevan päälle.", "error", false, "main-cal-wrapper");
						return;
					}
				}
			}
		});
	}
	
	function del_mode() {
		if (no_data_to_delete()) {
			show_feedback("Ei poistettavia varauksia.", "error", false, "main-cal-wrapper");
			return;
		}
		
		toggle_buttons("disabled");
		
		clear_selections();
		
		$(".reservable").unbind("click");
		
		$(".reservable").click(function () {
			if ($(this).attr("has-res") == "true") {
				if ($(this).html() == "Jääaika") {
					return;
				}
				
				if ($(this).attr("select") == "false") {
					$(this).addClass("tb_removed");
					$(this).attr("select", "true");
				} else {
					$(this).removeClass("tb_removed");
					$(this).attr("select", "false");
				}
			}
			
		});
	}
	
	function confirm_del() {
		var resses = [];
		<% if @team %>
			var team_id = <%= @team.id %>
		<% else %>
			var team_id = $("#show-team-select").val();
		<% end %>
		 
		$(".tb_removed").each(function () {
			resses.push({date: $(this).attr("date-data"), starts_at: $(this).attr("time"), activity: $(this).html(), team_id: team_id})
		});
		
		$.post("/delete_team_resses", JSON.stringify(resses), function (response) {
				if (response == "success") {
					show_feedback("Varaukset poistettu onnistuneesti", "success", false, "main-cal-wrapper");
				} else {
					show_feedback("Jotain meni pieleen.", "error", false, "main-cal-wrapper");
				}
			}
		);
		
		clear_table();
		get_table_markings(team_id);
		
		toggle_buttons("enabled");
		reserve_mode();
	}
	
	function clear_selections() {
		$(".new-res").each(function() {
			 $(this).removeClass("new-res")
			 $(this).attr("select", "false");
			 $(this).html("");
		});
	}
	
	function no_data_to_delete() {
		if ($(".reservable[has-res=true]").length == 0) {
			return true;
		} else {
			return false;
		}
	}
	
	function toggle_buttons(mode) {
		if (mode == "disabled") {
			$("#show-team-select").attr("disabled", "true");
			$(".btn").attr("disabled", "true");
			$("#del-resses-btn").removeAttr("disabled");
			$("#del-resses-btn").attr("onclick", "confirm_del();");
			$("#del-resses-btn").html("Vahvista poistot");
		} else if (mode == "enabled") {
			$("#show-team-select").removeAttr("disabled");
			$(".btn").removeAttr("disabled");
			$("#del-resses-btn").attr("onclick", "del_mode();");
			$("#del-resses-btn").html("Poista jääaikavarauksia");
		}
	}
	
	
	function get_table_markings(id) {
		var url = "/get_cal_for_team?team_id=" + id + "&diff=<%= @diff %>";
		
		$.ajax({
			url: url,
			cache: false,
			success: function (resses) {
				$.each(resses, function(i, res) {
					var res_el = $(".reservable[date-data='" + res.date +  "'][time='" + res.starts_at + "']");
					res_el.addClass("reserved");
					res_el.attr("has-res", "true");
					if (id == "all") {
						res_el.html(res.team_name);
						res_el.addClass(res.team_name.replace(' ', ''));
					} else {
						res_el.html(res.activity);
					}
				});
			}
		});
	}
	
	function clear_table () {
		var res_els = $(".reservable");
		res_els.attr("class", "reservable");
		res_els.html("");
		res_els.attr("has-res", "false");
		res_els.attr("select", "false");
	}
	
	function next() {
		var diff = <%= @diff %> + 1;
		window.location = "/tiimikalenterin_hallinta?diff=" + diff; 	
	}
			
	function prev() {
		var diff = <%= @diff %> - 1;
		window.location = "/tiimikalenterin_hallinta?diff=" + diff;
	}
	
	function curr() {
		window.location = "/tiimikalenterin_hallinta?diff=0";
	}
	
	function save () {
		if (data_valid_to_save()) {
			var resses = [];
			var activity = $("#activity").val();
			<% if @team %>
				var team_id = <%= @team.id %>;
			<% else %>
				var team_id = $("#show-team-select").val();
			<% end %>
			
			$(".reservable[select='true']").each(function() {			
				resses.push({activity: $(this).html(), date: $(this).attr("date-data"), team_id: team_id, starts_at: $(this).attr("time")});
			});
			
			$.post("/save_ice_time", JSON.stringify(resses), function (response) {
					if (response == "success") {
						show_feedback("Kalenterimerkinnät tallennettu onnistuneesti", "success", false, "main-cal-wrapper");
						clear_table();
						get_table_markings(team_id);
					} else {
						show_feedback("Tallennettavissa tunneissa päällekäisyyksiä olemassaolevien kanssa.", "error", false, "main-cal-wrapper");
						clear_table();
						get_table_markings(team_id);
					}
				}
			);	
		} else {
			alert("Joko joukkue ei ole valittu tai yhtään tuntia ei ole valittu");
		}
	}
	
	function data_valid_to_save() {
		if ($(".reservable[select='true']").length == 0) {
			return false;
		}
		
		return true;
	}
	
	set_private_nav("team-cal");
</script>
