<table>
					<td>
						<select id="team-select">
							<option value="0"></option>
							<option value="all">Kaikki</option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
					<tr>
					<th>Valitse joukkue jolle valitut tunnit varataan</th>
					<td>
						<select id="save-to-team-select">
							<option value="0"></option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
				</tr>
				</table>
<!--><table class="table">
	<tr>
		<th>Nro.</th>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<td></td>
	</tr>
	<tr>
		<td>99</td>
		<td>Lasse</td>
		<td>Vourinen</td>
		<td>
  			<a class="btn btn-medium edit-players-btn" href="/muokkaa_pelajaat<%= players.id %>">Muokkaa</a>
  			<a class="btn btn-medium delete-players-btn" onclick="delete_players('<%= players.id %>')">Poista</a>
  			
  		</td>
	</tr>
</table>
<script>
	function delete_players (id){
		if (confirm("Haluatko varmasti poistaa tämän pelajaan? Tapahtumaa EI voi peruna.")) {
	}
</script>