<div>
	<h2>P&auml;&auml;kalenteri</h2>
	<h3>Vuosi <span id="year"><%= @year %></span> viikko <span id="week"><%= @today.cweek %></span></h3>
	
	<br />
	<br />
	
	<h3>Asetukset</h3>
	<div>
		<table class="table">
			<tbody>
				<tr>
					<th>N&auml;yt&auml; kalenteri joukkueelle</th>
					<td>
						<select id="team-select">
							<option value="0"></option>
							<option value="all">Kaikki</option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
				</tr>
				<tr>
					<th>Valitse joukkue jolle valitut tunnit varataan</th>
					<td>
						<select id="save-to-team-select">
							<option value="0"></option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a class="btn btn-large pull-right" onclick="save()">Tallenna j&auml;&auml;aikavaraukset</a>
		<a class="btn btn-large pull-right action-btn" id="del-resses-btn" onclick="del_mode()">Poista j&auml;&auml;aikavarauksia</a>
		<a class="btn btn-large pull-right action-btn" onclick="load_week_base()">Lataa viikkopohja</a>
	</div>
	
	<br />
	<br />
	<br />
	<br />
	
	<div>
		<a class="btn btn-medium pull-left" onclick="prev();"><i class="icon-arrow-left"></i> Edellinen viikko</a>
		<a class="btn btn-medium center-button" onclick="curr();">Nykyinen</a>
		<a class="btn btn-medium pull-right" onclick="next();">Seuraava viikko <i class="icon-arrow-right"></i></a>
	</div>
	
	<br />
	<br />
	
	
	<div id="feedback-error" class="alert alert-error hidden">
		Joukkueella on jo kalenterimerkint&auml; valittuina tunteina. Tarkista joukkueen kalenteri.
	</div>
	
	<div id="feedback-success" class="alert alert-success hidden">
		Varaukset tallennettu onnistuneesti.
	</div>

	<br />
	<br />
	
	<div id="main-cal-wrapper">
		<%= render :partial => "cal_table", :locals => {:th_date_strs => @th_date_strs, :date_strs => @date_strs, :days => @days}%>
	</div>
</div>

<script>
	del_mode_is_on = false;
	
	$(document).ready(function () {
		reserve_mode();
		team_select_binding();
		
		$("#team-select").val("all");
		get_table_markings("all");
	});
	
	function reserve_mode() {
		$(".reservable").unbind("click");
		
		$(".reservable").click(function () {
			if ($("#save-to-team-select").val() == "0") {
				show_feedback("Valitse ensin tiimi", "error", false, "main-cal-wrapper")
				return;
			}
				
			if ($(this).attr("select") == "true" && $(this).attr("has-res") == "false") {
				$(this).html("");
				$(this).attr("select", "false");
				$(this).attr("class", "reservable");
			} else {
				if ($(this).attr("has-res") == "false") {
					$(this).attr("class", "reservable");
					$(this).html($("#save-to-team-select option:selected").text());
					$(this).addClass($("#save-to-team-select option:selected").text().replace(' ', ''));
					$(this).addClass("new-res");
					$(this).attr("team-id", $("#save-to-team-select").val());
					$(this).attr("select", "true");
				}
			}
		});
	}
	
	function del_mode() {
		toggle_buttons("disabled");
		
		clear_selections();
		
		$(".reservable").unbind("click");
		
		$(".reservable").click(function () {
			if ($(this).attr("has-res") == "true") {
				if ($(this).attr("select") == "false") {
					$(this).addClass("tb_removed");
					$(this).attr("select", "true");
				} else {
					$(this).removeClass("tb_removed");
					$(this).attr("select", "false");
				}
			}
			
		});
	}
	
	function no_data_to_delete() {
		if ($(".reservable[has-res=true]").length == 0) {
			return true;
		} else {
			return false;
		}
	}
	
	function team_select_binding() {
		$("#team-select").change(function () {
			var id = $(this).val();
			
			if (id == "0") { return; }
		
			get_table_markings(id);
		});
	}
	
	function get_table_markings(id) {
		var url = "";
			
		if (id == "all") {
			url = "/get_cal_for_all?diff=<%= @diff %>";
		} else {
			url = "/get_cal_for_team?team_id=" + id + "&diff=<%= @diff %>";
		}
		
		$.ajax({
			url: url,
			cache: false,
			success: function (resses) {
				clear_table();
				$.each(resses, function(i, res) {
					var res_el = $(".reservable[date-data='" + res.date +  "'][time='" + res.starts_at + "']");
					res_el.addClass("reserved");
					res_el.attr("has-res", "true");
					if (id == "all") {
						res_el.html(res.team_name);
						res_el.addClass(res.team_name.replace(' ', ''));
					} else {
						res_el.html(res.activity);
					}
				});
			}
		});
	}
	
	function clear_table () {
		var res_els = $(".reservable");
		res_els.attr("class", "reservable");
		res_els.html("");
		res_els.attr("has-res", "false");
		res_els.attr("select", "false");
	}
	
	function next() {
		var diff = <%= @diff %> + 1;
		window.location = "/paakalenterin_hallinta?diff=" + diff; 	
	}
			
	function prev() {
		var diff = <%= @diff %> - 1;
		window.location = "/paakalenterin_hallinta?diff=" + diff;
	}
	
	function curr() {
		window.location = "/paakalenterin_hallinta?diff=0";
	}
	
	function save () {
		if (data_valid_to_save()) {
			var resses = [];
			
			$(".reservable[select='true']").each(function() {			
				resses.push({activity: "Jääaika", date: $(this).attr("date-data"), team_id: $(this).attr("team-id"), starts_at: $(this).attr("time")})
			});
			
			$.post("/save_ice_time", JSON.stringify(resses), function (response) {
					if (response == "success") {
						show_feedback("Varaukset tallennettu onnistuneesti", "success", false, "main-cal-wrapper")
						clear_table();
						get_table_markings("all");
					} else {
						show_feedback("Tallennettavissa varauksissa päällekkäisyyksiä olemassaolevien kanssa.", "error", false, "main-cal-wrapper")
						clear_table();
						get_table_markings("all");
						$("#team-select").val("all");
					}
				}
			);	
		} else {
			show_feedback("Ei mitään tallennettavaa.", "error", false, "main-cal-wrapper");
		}
	}
	
	function data_valid_to_save() {
		if ($(".reservable[select='true']").lenght == 0) {
			return false;
		}
		
		return true;
	}
	
	function load_week_base() {
		$.ajax({
			url: "/load_week_base",
			cache: false,
			success: function (resses) {
				clear_table();
				
				$.each(resses, function(i, res) {
					var res_el = $(".reservable[week-day='" + res.day +  "'][time='" + res.starts_at + "']");
					res_el.addClass("reserved");
					res_el.attr("select", "true");
					res_el.attr("has-res", "true");
					res_el.attr("team-id", res.team_id);
					res_el.html(res.team_name);
					res_el.addClass(res.team_name.replace(' ', ''));
				});
				show_feedback("Viikkopohja ladattu. Tallenna varaukset painamalla \"Tallenna jääaikavaraukset\".", "success", false, "main-cal-wrapper");
			}
		});
	}
	
	
	function del () {
		if (something_selected_to_del()) {
			if (confirm("Haluatko varmasti poistaa valitut varaukset? Tapahtumaa EI voi perua.")) {
					
			}
		} else {
			alert("Joko joukkue ei ole valittu tai yhtään tuntia ei ole valittu");
		}
	}
	
	function something_selected_to_del() {
		if ($(".reservable[select='true']").length == 0) {
			return false;
		}
		
		return true;
	}
	
	function toggle_buttons(mode) {
		if (mode == "disabled") {
			$("#team-select").attr("disabled", "true");
			$("#save-to-team-select").attr("disabled", "true");
			$(".btn").attr("disabled", "true");
			$("#del-resses-btn").removeAttr("disabled");
			$("#del-resses-btn").attr("onclick", "confirm_del();");
			$("#del-resses-btn").html("Vahvista poistot");
		} else if (mode == "enabled") {
			$("#team-select").removeAttr("disabled");
			$("#save-to-team-select").removeAttr("disabled");
			$(".btn").removeAttr("disabled");
			$("#del-resses-btn").attr("onclick", "del_mode();");
			$("#del-resses-btn").html("Poista jääaikavarauksia");
		}
	}
	
	function confirm_del() {
		var resses = [];
				
		$(".tb_removed").each(function () {
			resses.push({date: $(this).attr("date-data"), starts_at: $(this).attr("time")})
		});
		
		$.post("/delete_ice_time", JSON.stringify(resses), function (response) {
				if (response == "success") {
					show_feedback("Varaukset poistettu onnistuneesti", "success", false, "main-cal-wrapper");
					clear_table();
					get_table_markings("all");
				} else {
					show_feedback("Jotain meni pieleen.", "error", false, "main-cal-wrapper");
					clear_table();
					get_table_markings("all");
				}
			}
		);
		
		toggle_buttons("enabled");
		reserve_mode();
	}
	
	function clear_selections() {
		$(".new-res").each(function() {
			 $(this).removeClass("new-res")
			 $(this).attr("select", "false");
			 $(this).html("");
		});
	}
	
	set_private_nav("main-cal");
</script>
