<h2>Pelajaat hallinta</h2>
<% if current_user.role == "admin" %>
	<br />
	
	<div>
		<h2>Asetukset</h2>
		<table class="table">
			<tbody>
				<tr>
					<th>Valitse joukkue</th>
					<td>
						<select id="team-player-select">
							<option value="0"></option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>

<br />
<table class="table" id ="player-table">
	<thead>
	<tr id="header-row">
		<th>Nro.</th>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<th>Position</th>
		<td></td>
	</tr>
	</thead>
	<% if @team %>
	<% @team.players.each do |player| %>
	  	<tr >
	  	<td><%= player.number %></td>
		<td><%= player.f_name %></td>
		<td><%= player.l_name %></td>
		<td><%= player.position %></td>
		<td>
  			<a href="/muokkaa_pelaajaa/<%= player.id %>" class="btn btn-medium ">Muokkaa</a>
  			<a onclick="del_player(<%= player.id %>)"class="btn btn-medium">Poista</a>
  			
  		</td>
  	
	</tr>
	<% end %>
	<% end %>
</table>

<% if current_user.role ==  "team_leader" %>
		<table class="table">
			<tr>
				<th>Nro.</th>
				<th>Etunimi</th>
				<th>Sukunimi</th>
				<td></td>
			</tr>
			<tr id="players" class ="players-row">
				<td>99</td>
				<td>Lasse</td>
				<td>Vourinen</td>
				<td>
		  			<a href="/muokkaa_pelaajaa<%= player.id %>" class="btn btn-medium ">Muokkaa</a>
		  			<a onclick="del_player(<%= player.id %>)"class="btn btn-medium " >Poista</a>
		  		</td>
			</tr>
			</table>
			
	<% end %>

<script>
	$(document).ready(function () {
		<% if current_user.role == "admin" %>
			$("#team-player-select").change(function () {
				clear_table();
				var team_id = $("#team-player-select").val();
				
				if (team_id == 0) { return; }
				
				get_players_table(team_id);
			});
		<% end %>
	});
	
	function get_players_table(team_id) {
		$.ajax({
			url: "/get_players/" + team_id,
			cache: false,
			success: function(players) {
				$.each(players, function(i, player) {
					var html = "<tr class='player-row' id='player_" + player.id +"'>\
									<td>" + player.number + "</td>\
									<td>" + player.f_name + "</td>\
									<td>" + player.l_name + "</td>\
									<td>" + player.position + "</td>\
									<td>\
							  			<a href='/muokkaa_pelaajaa/" + player.id + "' class='btn btn-medium'>Muokkaa</a>\
							  			<a onclick='del_player(" + player.id + ")' class='btn btn-medium'>Poista</a>\
							  		</td>\
								</tr>";
					$("#header-row").after(html);
				});
			}
		});
	}
	
	function clear_table() {
		$(".player-row").remove();
	}
	
	function del_player(id) {
		
	}
	
	function save() {
		
	}
	
	set_private_nav("players");
</script>

