<div>
	<h2>Pääkalenteri</h2>
	<h3>Vuosi <span id="year"><%= @year %></span></h3>
	<br />
	
	<div>
		<a class="btn btn-medium pull-left" onclick="previous();"><i class="icon-arrow-left"></i> Edellinen viikko</a>
		<a class="btn btn-medium pull-right" onclick="next();">Seuraava viikko <i class="icon-arrow-right"></i></a>
	</div>
	
	<br />
	<br />
	
	<table id="main-calendar-table">
		<thead>
			<tr>
				<th>Klo / pvm</th>
				<th>Ma <%= @date_strs.first %></th>
				<th>Ti <%= @date_strs[1] %> </th>
				<th>Ke <%= @date_strs[2] %></th>
				<th>To <%= @date_strs[3] %></th>
				<th>Pe <%= @date_strs[4] %></th>
				<th>La <%= @date_strs[5] %></th>
				<th>Su <%= @date_strs[6] %></th>
			</tr>
			<% (9..21).each do |i| %>
				<tr>
					<th><%= i %>:00</th>
					<% @date_strs.each do |date| %>
						<td class="reservable" date-data="<%= date %>" selected="false" time="<%= i %>:00">kvak</td>	
					<% end %>
				</tr>
				<tr>
					<th><%= i %>:30</th>
					<% @date_strs.each do |date| %>
						<td class="reservable" date-data="<%= date %>" selected="false" time="<%= i %>:30">kvak</td>	
					<% end %>
				</tr>
			<% end %>
		</thead>
	</table>
</div>

<script>
	$(document).ready(function () {
		$(".reservable").click(function () {
			if ($(this).css("background-color") == "rgb(0, 128, 0)") {
				$(this).css("background-color", "grey");
			} else {
				$(this).css("background-color", "green");
			}
		});
	});

	function next() {
		start_date = $()
		window.location = "/paakalenterin_hallinta?date=" 	
	}
			
	function prev() {
		start_date.setDate(start_date.getDate() - 7);
		end_date.setDate(end_date.getDate() - 7);
		$("#year").html(end_date.getFullYear());
		
	}
</script>
