<h2>Toimihenkilöiden hallinta</h2>
<% if current_user.role == "admin" %>
	<br />
	
	<div>
		<h2>Asetukset</h2>
		<table class="table">
			<tbody>
				<tr>
					<th>Valitse joukkue</th>
					<td>
						<select id="team-staff-select">
							<option value="0"></option>
							<% Team.all.each do |team| %>
								<option value="<%= team.id %>"><%= team.name %></option>
							<% end %>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>

<br />
<table class="table" id="staff-members-table">
	<thead>
		<tr id="header-row">
			<th>Rooli</th>
			<th>Etunimi</th>
			<th>Sukunimi</th>
			<th>Email</th>
			<th>Puh.</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% if @team %>
			<% @team.staff_members.each do |sm| %>
				<tr>
					<td><%= sm.role %></td>
					<td><%= sm.f_name %></td>
					<td><%= sm.l_name %></td>
					<td><%= sm.email %></td>
					<td><%= sm.phone %></td>
					<td>
			  			<a href="/muokkaa_toimihenkiloa/<%= sm.id %>" class="btn btn-medium">Muokkaa</a>
			  			<a onclick="del_staff(<%= sm.id %>)" class="btn btn-medium">Poista</a>
			  		</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<script>
	$(document).ready(function () {
		<% if current_user.role == "admin" %>
			$("#team-staff-select").change(function () {
				clear_table();
				var team_id = $("#team-staff-select").val();
				
				if (team_id == 0) { return; }
				
				get_staff_table(team_id);
			});
		<% end %>
		
		<% if session[:staff_member_update_success] == true %>
			show_feedback("Toimihenkilön tiedot tallennettu onnistuneesti", "success", false, "staff-members-table");
			<% session[:staff_member_update_success] = false %>
		<% end %>
	});
	
	function get_staff_table(team_id) {
		$.ajax({
			url: "/get_staff_members/" + team_id,
			cache: false,
			success: function(staff_members) {
				$.each(staff_members, function(i, sm) {
					var html = "<tr class='staff-row' id='staff_" + sm.id +"'>\
									<td>" + sm.role + "</td>\
									<td>" + sm.f_name + "</td>\
									<td>" + sm.l_name + "</td>\
									<td>" + sm.email + "</td>\
									<td>" + sm.phone + "</td>\
									<td>\
							  			<a href='/muokkaa_toimihenkiloa/" + sm.id + "' class='btn btn-medium'>Muokkaa</a>\
							  			<a onclick='del_staff(" + sm.id + ")' class='btn btn-medium'>Poista</a>\
							  		</td>\
								</tr>";
					$("#header-row").after(html);
				});
			}
		});
	}before
	
	function clear_table() {
		$(".staff-row").remove();
	}
	
	function del_staff(id) {
		
	}
	
	set_private_nav("staff");
</script>
