<div class="span12">
	<div class="section">
		<h2 class="centered-text">P&auml;&auml;kalenteri</h2>
		<h3 class="centered-text">Vuosi <span id="year"><%= @year %></span> viikko <span id="week"><%= @today.cweek %></span></h3>
		
		<br />
		<br />
		
		<div>
			<a class="btn btn-medium pull-left" onclick="prev();"><i class="icon-arrow-left"></i> Edellinen viikko</a>
			<a class="btn btn-medium center-button" onclick="curr();">Nykyinen</a>
			<a class="btn btn-medium pull-right" onclick="next();">Seuraava viikko <i class="icon-arrow-right"></i></a>
		</div>
		
		<br />
		<br />
		<br />
		
		<div id="main-cal-wrapper">
			<%= render :partial => "private_pages/cal_table", :locals => {:th_date_strs => @th_date_strs, :date_strs => @date_strs, :days => @days}%>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		get_table_markings("all");
	});
	
	function get_table_markings(id) {
		var url = "";
			
		if (id == "all") {
			url = "/get_cal_for_all?diff=<%= @diff %>";
		} else {
			url = "/get_cal_for_team?team_id=" + id + "&diff=<%= @diff %>";
		}
		
		$.ajax({
			url: url,
			cache: false,
			success: function (resses) {
				$.each(resses, function(i, res) {
					var res_el = $(".reservable[date-data='" + res.date +  "'][time='" + res.starts_at + "']");
					res_el.addClass("reserved");
					res_el.attr("data-id", res.id);
					res_el.attr("has-res", "true");
					
					if (res.activity_type == "game") {
						res_el.html(res.display_activity);
					} else {
						if (id == "all") {
							res_el.html(res.team_name);
							res_el.addClass(res.team_name.replace(' ', ''));
						} else {
							res_el.html(res.display_activity);
						}	
					}
				});
			}
		});

	}
	
	function next() {
		var diff = <%= @diff %> + 1;
		window.location = "/paakalenteri?diff=" + diff; 	
	}
			
	function prev() {
		var diff = <%= @diff %> - 1;
		window.location = "/paakalenteri?diff=" + diff;
	}
	
	function curr() {
		window.location = "/paakalenteri?diff=0";
	}
</script>
