<div class="span12">
	<div class="section">
		<h2>Kaikki uutiset</h2>
		
		<br />
		
		<table class="table no-highlight news-table">
			<tbody>
				<% @news.each_with_index do |news, i| %>
					<tr news_id="<%= news.id %>" <%= (i%2 == 0)? "" : "class=dark-row" %>>
						<td>
						<h4><%= news.title %></h4>
						
						<p>
							Julkaistu: <span class="news-date"><%= news.published_at.strftime("%d.%m.%Y %H:%M") %></span><br />
							Muokattu viimeksi: 
							<% if news.edited_at %>
								<span class="news-date"><%= news.edited_at.strftime("%d.%m.%Y %H:%M") %></span>
							<% else %>
								-
							<% end %>
						</p>
						
						<p><%= news.body %></p>
						</td>			
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		$(".news-table tr").click(function () {
			var id = $(this).attr("news_id");
			
			window.location = "/uutinen/" + id;
		});
	});
</script>
