<div class="span2">
	<div class="section">
		<div class="well" style="max-width: 220px; padding: 8px 0;">
			
		<ul id="teams-list" class="nav nav-list">
			<li class="nav-header">Valitse joukkue</li>
			<% Team.order("name ASC").each do |team| %>
				<li id="team_<%= team.id %>"><a href="/joukkue/<%= team.id %>"><%= team.name %></a></li>
			<% end %>
			<li class="divider"></li>
			<li><a href="#">Tyttökiekkokoulu</a></li>
			<li><a href="#">Luistelukoulu</a></li>
			<li><a href="#">Leijonakiekkokoulu</a></li>
			<li class="divider"></li>
			<li><a href="/joukkueet">Valmennustoiminta</a></li>
		</ul>
		</div>
	</div>
</div>

<div class="span8">
	<div class="section">
		<h2><%= @team.name %></h2>
		
		<br />
		
		<h3>Pelaajalista</h3>
		
		<br />
		
		<table class="table no-highlight">
			<tr>
				<th>Pelaajan #</th>
				<th>Nimi</th>
			</tr>
			<% @team.players.order("number ASC").each do |player| %>
				<tr>
					<td><%= player.number %></td>
					<td><%= "#{player.f_name} #{player.l_name}" %></td>
				</tr>
			<% end %>
		</table>
		
		<h3>Toimihenkilöt</h3>
		
		<br />
		
		<table class="table no-highlight">
			<tr>
				<th>Tehtävä</th>
				<th>Nimi</th>
				<th>Puhelin</th>
				<th>Email</th>
			</tr>
			<% @team.staff_members.order("role ASC").each do |sm| %>
			<tr>
				<td><%= sm.role.capitalize %></td>
				<td><%= "#{sm.f_name} #{sm.l_name}" %></td>
				<td><%= sm.phone %></td>
				<td><%= sm.email %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

<div class="span2">
	<div class="section">
		<h3>Seuran jäät</h3>
		
		<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/paakalenteri'" />
		
		<br />
	
		<h3>Joukkueen kalenteri</h3>
		
		<img src="/assets/cal_logo.png" alt="Icetime calendar link logo" id="calendar-img-link" onclick="window.location = '/joukkueenkalenteri/<%= @team.id %>'"/>
		
		
		
		<a href="<%= @team.homepage %>">Joukkueen omat sivut</a>
		<a href="http://www.pelicans2000.fi">Joukkueen kuva</a>
		
	</div>
</div>



<script>
	set_navbar("teams");
	set_inner_nav("team_<%= @team.id %>")
</script>
