<!DOCTYPE html>
<html>
<head>
  <title>Pelicans2k</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url('/assets/ice.jpg')">

<div class="container">
	<div class="row banner-row">
		<div class="span12">
			<div class="section">
				<img alt="Banner" src="/assets/banneri.png" id="private-pages-banner"/> 
				<!-- <h1>Pelicans 2000 sivuston hallintapaneeli</h1> -->
			</div>
		</div>
	</div>
	
	<% unless flash[:notice].nil? %>
		<div class="row">
			<div class="span12">
				<div class="alert alert-success">
					<h3><%= flash[:notice] %></h3>
				</div>
			</div>
		</div>
	<% end %> 
	
	<div class="row">
		<div class="span12">
			<div class="login-section section">
				<p class="centered-text">Hei <%= current_user.name %>. Voit kirjautua ulos <a data-method="DELETE" href="<%= destroy_user_session_path %>">tästä.</a></p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span2">
			<div class="section nav-section">
				<ul class="nav nav-stacked nav-pills" id="private-nav">
					<li class="nav-header">Navigointi</li>
					<li id="landing"><a href="/landing">Etusivu</a></li>
					<li class="nav-header">Hallinointisivut</li>
					<% case current_user.role %>
						<% when "admin" then %>
							<li id="news"><a href="/uutisten_hallinta">Uutiset</a></li>
							<li id="main-cal"><a href="/paakalenterin_hallinta">P&auml;&auml;kalenteri</a></li>
							<li id="team-cal"><a href="/tiimikalenterin_hallinta">Tiimikalenterit</a></li>
							<li id="players"><a href="/pelaajien_hallinta">Pelaajat</a></li>
							<li id="staff"><a href="/toimihenkiloiden_hallinta">Toimihenkil&ouml;t</a></li>
							<li id="users"><a href="#">Käyttäjät</a></li>
						<% when "team_leader" then %>
							<li id="players"><a href="/pelaajien_hallinta">Pelaajat</a></li>
							<li id="staff"><a href="#">Toimihenkil&ouml;t</a></li>
							<li id="team-cal"><a href="#">Tiimikalenteri</a></li>
						<% when "head_coach" then %>
							<li id="news"><a href="/uutisten_hallinta">Uutiset</a></li>
							<li id="main-cal"><a href="/paakalenterin_hallinta">P&auml;&auml;kalenteri</a></li>	
					<% end %>
				</ul>
			</div>
		</div>
		
		<div class="span10">
			<div class="section">
				<%= yield %>
			</div>	
		</div>
		
	</div>
	
	<div class="row">
		<div class="span12">
			<div class="section">
				<h5 class="centered-text">&copy; HMS Vuoto</h5>
			</div>
		</div>
	</div>
</div>
</body>
</html>
